<h1>Listing shareholders</h1>

<table>
  <tr>
    <th>Shares</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shareholders.each do |shareholder| %>
  <tr>
    <td><%= shareholder.shares %></td>
    <td><%= shareholder.password %></td>
    <td><%= link_to 'Show', shareholder %></td>
    <td><%= link_to 'Edit', edit_shareholder_path(shareholder) %></td>
    <td><%= link_to 'Destroy', shareholder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shareholder', new_shareholder_path %>
