<p id="notice"><%= notice %></p>

<p>
  <b>Shares:</b>
  <%= @shareholder.shares %>
</p>

<p>
  <b>Password:</b>
  <%= @shareholder.password %>
</p>


<%= link_to 'Edit', edit_shareholder_path(@shareholder) %> |
<%= link_to 'Back', shareholders_path %>
