<!DOCTYPE html>
<html>
<head>
  <title>K5mRomance</title>
  <script type="text/javascript" src="http://use.typekit.com/wqq7trl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag    "ie", :media => "all" %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
</body>
</html>